.init-icon {
  background: url('./svg/26.svg');
}

// DAY - 7

.clear-day {
  background: url('./svg/32.svg');
}

.partly_cloudy-day {
  background: url('./svg/34.svg');
}

.mostly_cloudy-day {
  background: url('./svg/28.svg');
}

.mist_fog-day {
  background: url('./svg/22.svg');
}

.frost_snow-day {
  background: url('./svg/41.svg');
}

.rain_drizzle-day {
  background: url('./svg/39.svg');
}

.waterspouts-day {
  background: url('./svg/38.svg');
}

// NIGHT - 7

.clear-night {
  background: url('./svg/31.svg');
}

.partly_cloudy-night {
  background: url('./svg/33.svg');
}

.mostly_cloudy-night {
  background: url('./svg/27.svg');
}

.mist_fog-night {
  background: url('./svg/21.svg');
}

.frost_snow-night {
  background: url('./svg/46.svg');
}

.rain_drizzle-night {
  background: url('./svg/45.svg');
}

.waterspouts-night {
  background: url('./svg/47.svg');
}

// EXTRA - 7

.unknown {
  background: url('./svg/44.svg');
}

.hail {
  background: url('./svg/18.svg');
}

.dust-sand {
  background: url('./svg/24.svg');
}

.smoke {
  background: url('./svg/20.svg');
}

.wintry_mix {
  background: url('./svg/07.svg');
}

.thunderstorm {
  background: url('./svg/35.svg');
}

.volc_ash {
  background: url('./svg/20.svg');
}
