@charset "utf-8";
@import "~bulma/bulma";
@import '~bulma-switch';

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100%;
  background-color: #100c08;
}

body {
  display: grid;
  grid-template-columns: 99%;
  justify-content: center;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
  padding: 10px 0;
}

#divPlace {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50%;
  margin: 0;
}

#main {
  position: relative;
  width: 100%;
  height: 281px;
  margin: 15px 0;
  margin-top: 50px;
  padding: 5px 0;
  border: 1px solid #dfd;
  

  h1 {
    font-size: 1.5rem;
  }

  h2 { 
    font-size: 1.4rem;
  }

  .divElement {
    position: relative;
    display: inline;
    text-align: center;
    color: #ccc;
    font-weight: 300;
    margin: 10px 0;
  }
}

#wicon {
  position: relative;
  display: block;
  justify-self: center;
  border: 1px solid #ccc;
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 99%;
    justify-items: center;
    align-items: center;
  }

  main {
    width: 375px;
    height: 686px;
    border: 1px solid #ccc;
  }
}