* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100%;
}

.hide {
  display: none;
}

#main {
  position: relative;
  width: 100%;
  margin: 15px 0;
  margin-top: 50px;
  padding: 10px 0;
  background-color: lawngreen;
  

  h1 {
    font-size: 1.5rem;
  }

  h2 { 
    font-size: 1.4rem;
  }

  .divElement {
    position: relative;
    display: inline;
    text-align: center;
    font-weight: 300;
    margin: 10px 0;
  }
}

