* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100%;
}

.hide {
  display: none;
}

#main {
  margin: 15px;
  margin-top: 50px;
  background-color: lawngreen;
}